# Supabase Configuration
SUPABASE_URL=https://zvrnigceykgqjkhyndmi.supabase.co
SUPABASE_KEY=sb_publishable_VI1pBew_XQTgdtbJPc2JUg_2hHJyWc1

SECRET_KEY=your_super_secret_key_here

# Admin Registration Code for Faculty Sign Ups
ADMIN_PASSWORD=qrattendance
